@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="lead">
        <h1>Confirmação inválida</h1>
        <p>As senhas de confirmação são diferentes.</p>
    </div>
</div>
