@model LoginViewModel

<div class="login-page">

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Username">Usuário</label>
                            <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Senha</label>
                            <input type="password" class="form-control" placeholder="Senha" asp-for="Password" autocomplete="off">
                        </div>

                        @if (Model is not null && Model.AllowRememberLogin)
                        {
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="RememberLogin">
                                    <label class="form-check-label" asp-for="RememberLogin">
                                        Guardar meu login
                                    </label>
                                </div>
                            </div>
                        }

                        <button class="btn btn-primary" name="button" value="login">Login</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancelar</button>
                        <br />

                        <hr />

                    </form>
                    <div class="form-group">
                        <a asp-controller="Account" asp-action="ForgotPassword">Esqueceu sua senha</a>
                    </div>
                    <div class="form-group">
                        <a asp-controller="Account" asp-action="Register">Não é usuário ainda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
